@import './Global.css';
@import './Button.css';
@import './carousel.css';

html,
body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #f0f2f5;
  border-radius: 3px;
}
